footer{
    background-color: #333;
    padding:60px;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    float:right;
    list-style:none;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right:20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border-bottom: 0 ;
    color: #888;
    transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#ddd;
}

footer p{
    color:#888;
    text-align: center;
    font-size: 80%;
    margin-top: 30px;
}
