
.box{
    padding: 1%;
  }


.box p{
    font-size:90%;
    line-height: 145%;
  }

  .section-cities{
      padding:0;
  }

  .box img{
      width:100%;
      height:auto;
      margin-bottom: 15px;
  }

  .city-features{
      margin-bottom: 5px;
  }

  .icon-small{
      margin-top: 10px;
      width:30px;
      display:inline-block;
      text-align:center;
      /* Secrets to align text and icons in the same line */
      line-height: 10px;
      vertical-align: middle;
      margin-top: -5px;
      margin-right: 10px;
  }

  a:link,
  a:visited{
    color:#cf6d17;
    text-decoration: none;
    border-bottom: 0.25px solid #cf6d17;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
   }

   a:hover,
   a:active{
    color: #555;
    border-bottom: 0.25px solid transparent;
   }