
/* Orange
#cf6d17
*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 20px;
  /* margin-right: -25px; */
}

body{
  overflow-x: hidden;
}

html {
  background-color: #FFF;
  color: #555;
}

.clearfix{  zoom:1  }
.clearfix:after{
  content:'';
  clear:both;
  display: block;
  height:0;
  visibility: hidden;
}

/* ------------------------- */
/*  REUSABLE COMPONENTS */
/* ------------------------- */

.row{
  max-width: 1140px;
  margin: 0 auto;
}

section{
  padding: 80px 0;
}

.box{
  padding: 1%;
}


/* ------------------------- */
/*  PARAGRAPHS */
/* ------------------------- */

.long-copy{
  line-height: 145%;
  width:70%;
  margin-left: 15%;
  margin-bottom: 30px;
}

.box p{
  font-size:90%;
  line-height: 145%;
}

/* ------------------------- */
/*  ICONS */
/* ------------------------- */

.icon-big {
  display:block;
  margin-bottom: 10px;
}

/* ------------------------- */
/*  MEALS-SHOWCASE */
/* ------------------------- */

.section-meals{
  padding : 0;
}

.meals-showcase{
  list-style: none;
  width:100%;
}

.meals-showcase li{
  display: block;
  float:left;
  width:25%;
}

.meal-photo{
  width: 100%;
  margin: 0;  
  overflow: hidden;
  background: #000;
}

.meal-photo img{
  width:100%;
  height:auto;
  transform: scale(1.15);
  transition: transform 0.75s;
  opacity: 0.75;
  
}

.meal-photo img:hover{
  width:100%;
  height:auto;
  transform: scale(1.03);
  background: #FFF;
  opacity: 1;
}

/* ------------------------- */
/*  HEADER */
/* ------------------------- */
header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./images//hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:100vh;
}

.hero-text-box{
  position: absolute;
  width: 1140px;
  top:50%;
  left:55%;
  transform: translate(-50%,-50%);
}

h1, h2, h3{
  font-weight: 50;
  text-transform:uppercase;  
}

h1{
  margin-top:0;
  margin-bottom: 20px;
  color:#fff;
  font-size: 175%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2{
  font-size:150%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom:30px;
  letter-spacing: 1px;
}

h2:after{
  display:block;
  height:2px;
  width:100px;
  margin: 0 auto;
  background-color: #cf6d17;
  content:" ";
  margin-top: 30px;
}

h3{
  font-size: 110%;
  margin-bottom:15px;
  font-weight: 20;
}

.logo{
  height:100px;
  width:auto;
  float:left;
  margin-top:20px;
}

.main-nav{
  margin-top:50px;
  float:right;
  list-style: none;
}

.main-nav li{
  display:inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size:90%;
  border-bottom: 2px solid #cf6d17 transparent;
  transition:  border-bottom 0.2s
}

.main-nav li a:hover,
.main-nav li a:active{
   border-bottom: 2px solid #cf6d17;
}

/* ---------------------- */
/* BUTTONS */
/* ---------------------- */

.btn:link,
.btn:visited,
.btn[type=submit]{
  display:inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #e67e22;
  border-radius: 200px;
  color:#FFF;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
.btn[type=submit]{
  background-color: #e67e22;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
  margin:10px;
  color:#e67e22;
}

.btn:hover,
.btn:active
{
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
  margin:10px;
  border: 1px solid #cf6d17;
  color:#FFF;
}

.App {
  /* text-align: center;   */
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}