
/* Bog tablets to 1300px(Widths smalle than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .hero-text-box{
      width: 80%;
      padding:0 2%;
    }

    .row{ padding: 0 2%; }

}
/* Small tabltes to big tablets: From 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body{ font-size: 80%; }
    section{ padding: 60px 0; }
    
    .long-copy{
        width:80%;
        margin-left: 10%;
      }
      
      .steps-box{ margin-top: 10px; }
      .steps-box:last-child{margin-top: 10px;}
      .works-step{ margin-bottom: 40px }
      .works-step p{ font-size: 17px; }
      .works-step:last-of-type{  margin-bottom: 60px; }
      .app-screen{width: 60%;}
      .icon-small{ 
        margin-right:5px;
        max-width: 17px;
      }
      .city-features{ font-size : 70%; }
      .city-features a{ font-size : 90%; }
      .section-cities h3{ font-size: 100%;}

      .plan-box{
         width:100%;
      margin-left: 0;
     }

     .plan-price{
        font-size: 150%;
     }

     .contact-form {
        width:50%;
        margin-left:16%;
      }

}

/* Small Phones to  small tablets : from 481 to 767px*/
@media only screen and (max-width: 767px) {

  body{
    font-size: 80%;
  }
  section{
    padding: 30px 0;
  }

  .row,
  .hero-text-box{ padding: 0 4%; }

  .col{
    width: 100%;
    margin: 0 0 3% 0; 
  }

  .main-nav{ display: none; }
  .long-copy{
    width:100%;
    margin-left: 0%;
  }

  h1{ font-size: 180%; }
  h1{ font-size: 150%; }

  .works-step{ margin-bottom: 20px }
  .works-step:last-of-type{  margin-bottom: 20px; }

  .works-step div{
    height:40px;
    width:40px;
    padding:4px;
    font-size:120%;
    margin-right: 15px;
    }

  .steps-box:first-child{ text-align: center; }
  .app-screen{width: 40%;}

  blockquote:before{
    font-size: 300%;
    top: 5px;
    left:-5px;
    bottom:5px;
  } 
  .footer-nav a,
  .footer p{ font-size: 75%; }

}
/* Small phones : from 0 to 480px */
@media only screen and (max-width: 480px) {
  h1{ font-size:120%; }
  section{ padding:25px; }
  .contact-form{ 
    width:100%; 
    margin-left:10%;
  }
  .footer-nav{ font-size: 90%; }
  body{overflow-x: hidden;}
  input[type=text], input[type=email], select, textarea { width: 75%; }
  .btn-ghost:link, .btn-ghost:visited { margin: 10px 0px 0px 0px; }
  .works-step p{ font-size: 15px; }
}